@charset "utf-8";
/*
---------------

Table of Contents:

1) Preloader
2) Titles
3) Home
4) Header
5) About
6) Who We Are
7) Team
8) Separator-Video
9) Fun Facts
10) Separator-Quotes
11) Services
12) Separator-Call to Action
13) Portfolio
14) Testimonials
15-a) Clients
15-b) Twitter Feed
16) Get Connected
17) Price List
18) Contact Details
19) Contact Form
20) Google Map
21) Footer
22) Home Pattern / Slideshow
23) Shortcodes

--------------
*/

html, 
body {
	height: 100%;
	color: #121212;
}
body {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	color: #121212;
}
a {
	background: transparent;
	outline: none; 
	text-decoration: none;	
	
	-webkit-transition: .4s cubic-bezier(0.25,.46,.45,.94);
	transition: .4s cubic-bezier(0.25,.46,.45,.94);
	-webkit-transition-property: background-color,color;
	transition-property: background-color,color;
}
a:active,
a:hover,
a:focus {
	outline: 0; 
	background: transparent;
	color: #121212;
	text-decoration: none;	  
}
a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 1;
}
h1 small, h2 small, h3 small {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: #121212;
}
h4 small, h5 small, h6 small {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #121212;
}

/* ==== 1) Preloader ==== */

#preloader {
	position:fixed;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	background: #fff;
	z-index:9999;
}
.preloader-container {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 3;
	text-align:center;
}
.back-logo {
    z-index:-1;
	color: #F4F4F4;
	position: absolute;
 	top:40%;
	left:45%;
	font-size: 50px;
}



/* ==== 2) Titles ==== */

@media (min-width: 180px) {
h1 {
	font-size: 32px;

}
h1 small {
	font-size: 32px;
}
.lead {
	font-size: 16px;
	font-weight: 300;
}
h2 {
	font-size: 30px;
	letter-spacing: -2px;

}
h2 small {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}
h3 small {
	font-size: 20px;	
}
h5 small {
	font-size: 13px;
}
}
@media (min-width: 480px) {
h1 {
	font-size: 42px;

}
h1 small {
	font-size: 42px;
}
.lead {
	font-size: 16px;
	font-weight: 300;
}
h2 {
	font-size: 40px;
	letter-spacing: -2px;

}
h2 small {
	font-size: 40px;
}
h3 {
	font-size: 34px;
}
h3 small {
	font-size: 34px;	
}
}
@media (min-width: 768px) {
h1 {
	font-size: 56px;

}
h1 small {
	font-size: 56px;
}
.lead {
	font-size: 18px;
	font-weight: 300;
}
h2 {
	font-size: 50px;
	letter-spacing: -2px;

}
h2 small {
	font-size: 50px;
}
 
}
@media (min-width: 992px) {
h1 {
	font-size: 56px;

}
h1 small {
	font-size: 56px;
}
.lead {
	font-size: 20px;
	font-weight: 300;
}
h2 {
	font-size: 50px;
	letter-spacing: -3px;

}
h2 small {
	font-size: 50px;
}
}
@media (min-width: 1200px) {
h1 {
	font-size: 78px;
	letter-spacing: -4px;
}
h1 small {
	font-size: 66px;
}
.lead {
	font-size: 20px;
	font-weight: 300;
}
h2 {
	font-size: 50px;
	letter-spacing: -3px;

}
h2 small {
	font-size: 50px;
}
}

/* ==== 3) Home ==== */
#home {
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(../img/bg_1.jpg);
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 1;
}
.parallax-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/pattern.png);
	background-repeat: repeat;
	background-color: rgba(44,62,80,0.6);
	z-index: 2;
	
}
.home-container {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 3;
}
.home-title {
	position: relative;
	color: #FFFFFF;
	z-index: 3;
	margin-left: auto;
	margin-right: auto;
}
.panel {
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.home-btn {
	margin-top: 45px;
}
.btn-home {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
.btn-home a {
	display: inline-block;
	padding: 20px;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	-webkit-transition: .4s cubic-bezier(0.25,.46,.45,.94);
	transition: .4s cubic-bezier(0.25,.46,.45,.94);
	-webkit-transition-property: background-color,color;
	transition-property: background-color,color;
}
.btn-home a:hover,
.btn-home a:focus {
    display: inline-block;
	background: #121212;
	padding: 20px;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	outline: none;
	
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.home-bottom {
	position: absolute;
	z-index: 3;
	width: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
	opacity: 0.9;
	
}
.move {
	width: 40px;
	margin-left: auto;
	margin-right: auto;
	
	-webkit-animation: anim2 ease-in-out 3s infinite alternate;
	-moz-animation: anim2 ease-in-out 3s infinite alternate;
}
@-webkit-keyframes anim2
{
   from {left: 0px;   -webkit-transform: scale(1.0) rotate(0deg)   }
   50%  {left: 250px; -webkit-transform: scale(0.8) rotate(10deg)  }
   to   {left: 500px; -webkit-transform: scale(1.2) rotate(-20deg) }
}
@-moz-keyframes anim2
{
   from {left: 0px;   -moz-transform: scale(1.0) rotate(0deg)   }
   50%  {left: 250px; -moz-transform: scale(0.8) rotate(10deg)  }
   to   {left: 500px; -moz-transform: scale(1.2) rotate(-20deg) }
}
.home-bottom a {
	border-radius: 50%;
	border: 2px solid #FFFFFF;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	padding-right: 7px;
	color: #FFFFFF;	
	
	-webkit-transition: 0.2s background linear;
	-moz-transition: 0.2s background linear;
	transition: 0.2s background linear;
}
.home-bottom a:hover {
	background-color: #fff;
	color: #121212;	
	text-decoration: none;
}
.dots {
	z-index: 99;
	background-image: url(../img/dot.png);
	background-repeat: repeat-y;
	margin: auto;
	width: 6px;
	height: 34px;
}

/* ==== 4) Header ==== */
#header .navbar.navbar-default.navbar-fixed-top .container .navbar-header .navbar-brand {
	font-family: 'Montserrat', sans-serif;
}
.navbar-brand {
	float: left;
	height: 70px;
	padding: 15px 0 15px 15px;
	font-size: 30px;
	line-height: 20px;
}
.navbar-default .navbar-brand h3{
	letter-spacing: -2px;
	color: #121212;
	font-size: 30px;
	margin-bottom:0px;
	margin-top:10px;
	line-height: 20px;
}
.navbar {
	min-height: 70px;
	border: none;
}
.navbar-default {
	border-color: none;
	border-bottom: none;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	z-index: 4;
	background-color: #fff;
	
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
}
.navbar-right {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;.
	font-weight: 400;
	height: 100%;
	margin-top:10px;
	color: ;
}
.navbar-collapse {
	margin-top:6px;
	padding-right: 15px;
	padding-left: 35px;
	color: #121212;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 18px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: none;
}
.navbar-toggle:focus {
  outline: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 24px;
  height: 4px;
  border-radius: 2px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #121212;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;

}
.nav > li > span {
	position: relative;
	display: block;
	padding: 10px 15px;
	cursor: pointer;
}
.navbar-default .navbar-nav > li > a {
	color: #121212;	
}


.dropdown-menu {
	font-size: 13px;

	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
	
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}
.menu-padding { padding-top:70px; }

.content { margin-top:0px; }

/*
Navbar "hovernav" dropdown menu - this works only for screen sizes larger than phones.
The Bootstrap CSS is unchanged. If you don't want this, delete this segment of the CSS
and delete the corresponding segment of scripts.js
*/
@media (min-width: 768px) { 
  .navbar-nav .caret {
    display: none;
  }
  .navbar-nav .open ul {
    display: none;
	}
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background: none;
  }
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus,
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    color: #969696;
    background: none;
  }
  .navbar-default .navbar-nav > .hovernav > a {
		color: #121212;
	}
  .navbar-inverse .navbar-nav > .hovernav > a {
		color: #969696;
	}
  .navbar-default .navbar-nav > .hovernav:hover > a,
  .navbar-default .navbar-nav > .hovernav:hover > a:hover,
  .navbar-default .navbar-nav > .hovernav:hover > a:focus {
    background: transparent;
  }
  .navbar-inverse .navbar-nav > .hovernav:hover > a,
  .navbar-inverse .navbar-nav > .hovernav:hover > a:hover,
  .navbar-inverse .navbar-nav > .hovernav:hover > a:focus {
    color: #fff;
    background: transparent;
  }
	.navbar-default .navbar-nav > li:hover {
	background: none;
  }
  .navbar-inverse .navbar-nav > li:hover {
    background: #080808;
  }
  .navbar-nav .hovernav:hover > .dropdown-menu {
    display: block;
	}
}

/* ==== Site Wrapper ==== */
.site-wrapper {
	clear: both;
}
.site-wrapper-video {
	background:#fff;
	z-index:1;
}

/* ==== 5) About ==== */
#about {
	padding-top: 60px;
	padding-bottom: 60px;
}
.section-title-about {
	text-align: center;
	margin-bottom: 30px;
}
h4 {
	font-size: 24px;
}
h4 small {
	font-size: 20px;
}
p {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
}
.about-row {
	margin-bottom: 40px;
}
.about-icon {
	float: left;
}
.about-info {
	padding-left: 50px;
	padding-top: 0px;
}
.about-description {
	padding-right: 50px;
	
}
/* ==== 6) Who We Are ==== */
#who-we-are {
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(../img/bg_2.jpg);
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 1;
	color: #fff;
}
.col-we-are {
	margin-top: 40px;
	margin-bottom: 40px;
	color: #fff;
	z-index:3;
}
.we-are-info {
	line-height: 1;
}
.p-info {
	line-height: 1.8;
}
.col-md-skills {
	margin-top: 40px;
	margin-bottom: 40px;
	color: #fff;
	z-index:3;
	height:300px;
}
.skills-col {
	text-align:left;
	margin-top: 40px;
	margin-bottom: 40px;	
}
.skills {
	text-align: left;
	margin: 40px 0px;	
	padding:0px;
	color:#fff;
}
.skills-col .skills p {
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	font-size: 13px;
	line-height:0px;
}


.skillbar {
	position:relative;
	display:block;
	margin-bottom:35px;
	width:100%;
	background:#fff;
	height:26px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 13px;
	top:0;
	left:0;
width:110px;
	color:#ffffff;

	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	padding:4px 10px;
	height:26px;
	
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:26px;
	width:0px;

	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.skills-col p {
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 13px;
line-height: 0px;
} 



/* ==== 7) Team ==== */
#team {
	padding-bottom: 60px;
	padding-top: 60px;
}
.section-title-team {
	text-align: center;
	margin-bottom: 50px;
}
.team-info {
	text-align: left;
	padding-top: 5px;
	padding-right: 15px;
}
.grid {
	padding: 0px 0px 0px 0px;
	max-width: 100%;
	list-style: none;
	text-align: center;
}
.grid li {
 	display: inline-block;
	width: 100%;
	position: relative;
}
.grid figure {
	margin: auto;
	position: relative;
}
.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	background: #121212;
 	display: table-cell;
    vertical-align: middle;	
}
.portfolio-wrapper .grid figcaption {
	padding-top: 35.5%;
}
.team-member .grid figcaption {
	padding-top: 37.5%;
}
.grid figcaption a {
	margin-left: 5px;
	margin-right: 5px; 
	color:#fff;
}
.cs-style-3 figure {
	overflow: hidden;
}
.cs-style-3 figure img {
    margin-left:auto; 
    margin-right:auto;
    
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}
.cs-style-3 figcaption {
	height: 100%;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.no-touch .cs-style-7 figure:hover figcaption h3,
.no-touch .cs-style-7 figure:hover figcaption span,
.no-touch .cs-style-7 figure:hover figcaption a,
.cs-style-7 figure.cs-hover figcaption h3,
.cs-style-7 figure.cs-hover figcaption span,
.cs-style-7 figure.cs-hover figcaption a {
	-webkit-transition: opacity 0.3s 0.2s;
	-moz-transition: opacity 0.3s 0.2s;
	transition: opacity 0.3s 0.2s;
	opacity: 1;
}

/* ==== 8) Separator-Video ==== */
#separator-video {
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(../img/bg_3.jpg);
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 1;
	padding-top: 40px;
	padding-bottom: 40px;
}
.separator-video-content {
	margin-top: 40px;
	margin-bottom: 40px;
}
.video-info {
	line-height: 1;
}

/* ==== 9) Fun Facts ==== */
#fun-facts {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: 1;
	padding-top:30px;
	padding-bottom:30px;
}
.fact-container {
	padding-top:60px;
	padding-bottom:13px;
}
.counter {
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 0px;
}
.fact {
	text-align:center;	
}

/* ==== 10) Separator-Quotes ==== */
#separator-quotes {
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(../img/bg_4.jpg);
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 1;
	color: #fff;
}
.quotes {
	color: #fff;
	position: relative;
	z-index: 3;
	text-align: center;
	height: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
}
.white {
	color: #fff;
}
.label {
	font-weight: normal;
	
}
.label-primary {
	
}
.quotes .fa.fa-quote-left {
	font-size: 26px;
	vertical-align: top;
	margin-top: 2px;
}
.quotes .fa.fa-quote-right {
	font-size: 26px;
	vertical-align: top;
	margin-top: 2px;
}

/* ==== 11) Services ==== */


#services {
	padding-top: 60px;
	padding-bottom: 60px;
}
.section-title {
	text-align: center;
	margin-bottom: 40px;
}
.services-row {
	
}
.services-container {
	
}
.service {
	margin-bottom: 40px;
}
.service-icon {
	float: left;
}
.back-icon{
	z-index: -1;
	color: #F0F0F0;
	position: absolute;
	padding-left: 40px;
	left: 0;
	top: 0;
	width: 144px;
	height: 144px;
	line-height: 144px;
	font-size: 144px;
}
.ion-3x {
	font-size: 3em;
}
.service-info {
	padding-left: 60px;
	padding-top: 1px;
}

/* ==== 12) Separator Call to Action ==== */
#separator-purchase {
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(../img/bg_5.jpg);
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 1;
}
.call-action-purchase {
    padding: 20px 0px 20px 0px;
    vertical-align: middle;
    display: table;
}
@media (max-width: 480px) {
    .action-5-info h3,
    .action-5-info h3 small {
        font-size: 20px;
    } 
}
@media (min-width: 768px) {
    .action-5-info h3,
    .action-5-info h3 small {
        font-size: 22px;
    } 
}

/* ==== 13) Portfolio ==== */
#our-work {
	padding-top: 60px;
	padding-bottom: 60px;
}
.portfolio-container { 
	position: relative;  
	margin: 0 auto; 
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;	
}
 
#filters {
	padding:0;
	list-style:none;
	margin-bottom:30px;
}

#filters li {
	float:left;
		
}
	
#filters li span {
	display: block;
	padding: 5px 20px;	
	margin-right: 5px;
	margin-top:5px;	
	text-decoration:none;
	color:#121212;
	cursor: pointer;
	background-color: #f5f5f5;
		
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
		
	-webkit-transition: .4s cubic-bezier(0.25,.46,.45,.94);
	transition: .4s cubic-bezier(0.25,.46,.45,.94);
	-webkit-transition-property: background-color,color;
	transition-property: background-color,color;
}
	
#filters li span.active {
	color:#fff;
		
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
}
#filters li span:hover,
#filters li span:focus {
	color: #fff;
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	display: none;
	margin-bottom: 15px;
	overflow: hidden;
}
.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
}
.portfolio img {
	max-width:100%;
	position: relative;
}

/* ==== 14) Testimonials ==== */

#separator-testimonials {
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(../img/bg_2.jpg);
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 1;
	color: #fff;
}
.testimonials {
	margin-top: 60px;
	margin-bottom: 60px;
	color: #fff;
}
.testimonial-img {
	width: 100px;
 
	margin-bottom: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
}
.testimonials .fa.fa-quote-left {
	font-size: 18px;
	vertical-align: top;
	margin-top: 2px;
}
.testimonials .fa.fa-quote-right {
	font-size: 18px;
	vertical-align: top;
	margin-top: 2px;
}

/* ==== 15-a) Clients ==== */

#clients {
	padding-top: 60px;
	padding-bottom: 80px;
}
.section-title-clients {
	text-align: center;
	margin-bottom:40px;
}
.clients-logos  {
	
}

/* ==== 15-b) Twitter Feed ==== */
#twitter-feed {
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(../img/bg_3.jpg);
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 1;
	padding-top: 60px;
	padding-bottom: 40px;
}
.tweets-slider {
    margin-top: 20px;
}
.slides li span {
    font-size: 18px;
}

/* ==== 16) Get Connected ==== */

#get-connected {
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(../img/pattern-1.jpg);
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 1;
	color: #fff;
}
.connected-row {
	margin-top: 60px;
	margin-bottom: 80px;
	color: #fff;
	position:relative;
	z-index:3;
}
.connected-icons {
	margin: 60px 0;
	list-style-type: none;
	-webkit-padding-start: 0;
	-moz-padding-start: 0;
	-khtml-padding-start: 0;
	-o-padding-start: 0;
	padding-start: 0;
	padding: 0;
}
.connected-icons li {
	
}
.connected-icon a .fa-stack.fa-lg.fa-4x .fa.fa-circle {
	opacity: 0.2;
	
	-webkit-transition: opacity .4s ease-in-out;
        -moz-transition: opacity .4s ease-in-out;
        -ms-transition: opacity .4s ease-in-out;
        -o-transition: opacity .4s ease-in-out;
        transition: opacity .4s ease-in-out;
}
.connected-icon a:focus .fa-stack.fa-lg.fa-4x .fa.fa-circle,
.connected-icon a:hover .fa-stack.fa-lg.fa-4x .fa.fa-circle {
	opacity: 1;
	
}
.connected-icon a {
	
}
.connected-icon a:focus,
.connected-icon a:hover {
	  
}
.ion-5x {
	font-size: 5em;
}

/* ==== 17) Price List ==== */

#price-list {
	padding-top: 60px;
}
.section-title-price {
	text-align: center;
	margin-bottom: 40px;
}
.price-container {
	margin-bottom: 80px;
}
.price-box {
	margin-top:30px;
	margin-bottom:30px;
	padding: 15px;
	background-color: #F2F2F2;
}
.price-box-big {
	
	background-color: #F1F1F1;
	padding-bottom: 35px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 35px;
}
.price-box-info h2 span {
	font-size: 36px;
}
.price-box-info h2 small {
	font-size: 24px;
	color: #121212;
}
.price-box-info h3 span {
	font-size: 36px;
}
.price-box-info h3 small {
	font-size: 24px;
	color: #121212;
}
.ion-6x {
	font-size: 6em;
}
.price-box-info {
	margin: 15px 15px;
}
.price-box-offer {
	margin-bottom: 35px;
	margin-top: 20px;
}
.offer-list {
	list-style-type: none;
	-webkit-padding-start: 0;
	-moz-padding-start: 0;
	-khtml-padding-start: 0;
	-o-padding-start: 0;
	padding-start: 0;
	padding: 0;
}
.ion-2x {
	font-size: 2em;
}
.offer-list li {
	list-style: none;
	font-size:16px;
	margin-bottom: 10px;
}
.offer-list li span {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.sign-up-btn {
	margin-bottom: 30px;
}

/* ==== 18) Contact Details ==== */

#contact-details {
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(../img/bg_8.jpg);
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 1;
	color: #fff;
}
.details {
	margin-top: 80px;
	margin-bottom: 80px;
	color: #fff;
	z-index: 3;
}
.phone-info {
	line-height: 0;
	border-radius: 3px;
	display: inline-block;
	color: #fff;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
}


/* ==== 19) Contact Form ==== */

#contact-form {
	padding-top: 60px;
	padding-bottom: 60px;
}


#contact h1 { margin: 10px 0 10px; font-size: 24px; color: #fff; }
#contact hr { color: inherit; height: 0; margin: 6px 0 6px 0; padding: 0; border: 1px solid #d9d9d9; border-style: none none solid; }



/* Form style */

#contact input, select { 
	width: 100%; 
	max-width: ;
	padding: 12.9px; 
	color: #444; 
	background: #fff; 
	border: 1px solid #F0F0F0; 
	margin: 7px 0px; 
	-webkit-border-radius:2px; 
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
border-color: none;
box-shadow: none;
outline: 0 none;
}
textarea { 
	width: 100%; 
	max-width:  ;
	height: 165px;
	padding: 13px; 
	color: #444; 
	background: #fff; 
	border: 1px solid #F2F2F2; 
	margin-top: 7px;
	margin-left: ;
	margin-right:15px;
	-webkit-border-radius:2px; 
}
#contact input:focus, textarea:focus, select:focus { 
	border: 1px solid #999; 
	background-color: #fff; 
	color:#333; 
}

#contact input.submit { 
	width: 185px;
	margin: 15px 0px;
	cursor: pointer;  
	color:#fff; 
	border-radius: 3px;
	border-color: none;
	-webkit-transition: .4s cubic-bezier(0.25,.46,.45,.94);
	transition: .4s cubic-bezier(0.25,.46,.45,.94);
	-webkit-transition-property: background-color,color;
	transition-property: background-color,color;
}
#contact input.submit:hover { 
	background:#444; 
}
#contact input[type="submit"][disabled] { background:#888; }

#contact span.required { 
	font-size: 13px; 
	color: #ff0000; 
}
#message { 
	margin: 10px 0; 
	padding: 0; 
}
.error_message {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	line-height: 22px;
	padding: 3px 10px 3px 35px;
	color: #8a1f11;
	-webkit-border-radius: 5px;
	background-color: #FBE3E4;
	background-image: url(../img/error.gif);
	background-position: 10px center;
	background-repeat: no-repeat;
}

.loader { 
	padding: 0 10px; 
}
acronym { 
border-bottom:1px dotted #ccc; 
}

/* ==== 20) Google Map ==== */

#map {
	height: 480px;
	width: auto;
}

/* ==== 21) Footer ==== */

#footer {
	background-color: #121212;
}
.back-to-top {
	display: block;
	background: #121212;
	width: 45px;
	height: 40px;
	font-size: 28px;
	line-height: 38px;
	position: absolute;
	top: -40px;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	-webkit-box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
	-webkit-transform: translateZ(0);
	-webkit-transition: 0.2s all linear;
	-moz-transition: 0.2s all linear;
	transition: 0.2s all linear;
    cursor: pointer;
}
.footer-logo {
	margin-top: 10px;
	margin-bottom: 0px;
}
.footer-info {
	margin-bottom: 20px;
}
.footer-copyright {
	font-size:13px;
}

/* ==== 22) Home-Pattern ==== */
#home-pattern {
	background-color: #444;
	background-position: center 0%;
	background-size: auto;
	background-repeat: repeat;
	background-attachment: fixed;
	background-image: url(../img/pattern-1.jpg);
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 1;	
}

#home-slideshow {
	
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 1;	
}

/* ==== 23) Shortcodes ==== */
.btn, .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
text-shadow: none;
border: 0;
background-image: none;
font-weight: 300;
border-radius: 3px;
border-color: none;
-webkit-transition: .4s cubic-bezier(0.25,.46,.45,.94);
transition: .4s cubic-bezier(0.25,.46,.45,.94);
-webkit-transition-property: background-color,color;
transition-property: background-color,color;
box-shadow: none;
}
.btn:hover, .btn-primary:hover, .btn-success:hover, .btn-info:hover, .btn-warning:hover, .btn-danger:hover {
    background-color: #121212;
	border-color: none;
}
.btn:focus, .btn-primary:focus, .btn-success:focus, .btn-info:focus, .btn-warning:focus, .btn-danger:focus {
    background-color: #999;
	border-color: none;
}
.btn:active, .btn-default:active, .btn-primary:active, .btn-success:active, .btn-info:active, .btn-warning:active, .btn-danger:active {
    background: #121212 ;
    border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #121212;
    border-color: #121212;
    outline: none;
}
.open .dropdown-toggle.btn-primary {
border-color: none;
}

blockquote p {
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
}
ul.check-list-1 li:before,
ul.check-list-2 li:before,
ul.check-list-3 li:before,
ul.chevron-list-1 li:before, 
ul.chevron-list-2 li:before,
ul.dot-circle-list li:before {
display: inline-block;
width: 40px;
margin-left: -40px;
text-align: center;
line-height: inherit;
font-family: FontAwesome;
}
ul.check-list-1,
ul.check-list-2,
ul.check-list-3, 
ul.chevron-list-1,
ul.chevron-list-2,
ul.dot-circle-list, 
ul.caret-list {
	list-style:none;
}
ul.check-list-1 li:before {
	font-size: 13px;
	content: '\f00C';

}
ul.check-list-2 li:before {
	font-size: 13px;
	content: '\f058';

}
ul.check-list-3 li:before {
	font-size: 13px;
	content: '\f14a';

}
ul.chevron-list-1 li:before {
	font-size: 13px;
	content: '\f054';

}
ul.chevron-list-2 li:before {
	font-size: 13px;
	content: '\f138';

}
ul.dot-circle-list li:before {
	font-size: 13px;
	content: '\f192';

}
ul.caret-list li:before {
	font-size: 13px;
	content: '\f152';

}
.btn-link:hover,
.btn-link:focus {
  color: #121212;
  text-decoration: underline;
  background-color: transparent;
}
.post-title a {
    color: #121212;
}
.post-img {
    margin-bottom:10px;
}
.project-img {
    margin-bottom:60px;
}
.tags-list {
    list-style: none; 
    padding:0px;
}
.tags-list li {
    font-size: 13px;
    margin-top: 5px;
    display: inline-block;
    padding: 3px 9px;
    border: 1px solid #e8e8e8;
}
.blog-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.blog-list li {
    background-color: #F2F2F2;
    padding: 5px 5px 5px 10px;
    margin-bottom: 5px;
    border-radius: 3px;
}
.blog-list li a {
    color: #121212;
}
.blog-list li a:hover {
    color: #fff;
}
.blog-list li:hover a {
    color: #fff;
}
.blog-widget-container {
    margin-bottom: 60px;
}
.form-control:focus {
    border-color: #121212;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control {
    border-radius: 0px;
}
.blog-author {
    margin: 60px 0 60px 0;
}
.author-img {
    max-height:100px; 
    float:left; 
    margin-right: 20px
}
#back-to-top {
    position: fixed;
    z-index: 1000;
    bottom: 25px;
    right: 40px;
    display: none;
    cursor: pointer;
}
.action-btn {
    margin: 20px 0 20px 0;
}
.call-action-1 {
    background: #272727;
    padding: 20px;
    margin: 20px 0 20px 0;
}
.call-action-2 {
    border: 1px solid #CCC;
    padding: 20px;
    margin: 20px 0 20px 0;
}
.call-action-3 {
    background: #272727;
    padding: 20px 40px 20px 40px;
    margin: 20px 0 20px 0;
}
.call-action-4 {
    border: 1px solid #CCC;
    padding: 20px 40px 20px 40px;
    margin: 20px 0 20px 0;
}
.call-action-5 {
    background: #272727;
    padding: 20px 40px 20px 40px;
    margin: 20px 0 20px 0;
    vertical-align: middle;
    display: table;
}
.call-action-6 {
    border: 1px solid #CCC;
    padding: 20px 40px 20px 40px;
    margin: 20px 0 20px 0;
    vertical-align: middle;
    display: table;
}
@media (min-width: 768px) {
    .action-5-btn {
    padding: 20px 0 20px 20px;
    }
    .action-5-info {
        text-align: left;
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding: 0;
    }
    .action-5-btn {
        text-align: right;
        display: table-cell;
        vertical-align: middle;
    }
}
@media (max-width: 180px) {
    .action-5-btn {
    padding: 20px 0 20px 20px;
    }
} 
@media (max-width: 480px) {
  .btn-responsive {
    font-size:90%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    font-size:100%;
  }
}


